<nav class="navbar navbar-default navbar-fixed-top navbar-wagon" role="navigation">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to root_path, class: "navbar-brand" do %>
            <%= image_tag 'logo.svg' %>
          <% end %>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

          <ul class="nav navbar-nav navbar-right">
            <li>
              <%= link_to pricing_path do %>
                <i class="fa fa-euro"></i> Tarifs
                <% end %>
            </li>
            <li>
              <%= link_to contact_path do %>
                <i class="fa fa-envelope-o"></i> Contact
              <% end %>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Suivez-nous <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="https://www.facebook.com/lewagonformation"><i class="fa fa-facebook-square"></i> Facebook</a></li>
                <li><a href="https://twitter.com/lewagonparis"><i class="fa fa-twitter-square"></i> Twitter</a></li>
              </ul>
            </li>
            <li><a href="#" data-toggle="modal" data-target="#orderForm" class="btn">Réserver un spot</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>


    <!-- Modal -->
    <div class="modal fade" id="orderForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Réservez votre spot</h4>
          </div>
          <div class="modal-body">
            <form action="">

              <div class="row">
                <div class="col-xs-6">
                  <div class="form-group">
                    <label for="firstname">Prénom</label>
                    <input type="text" placeholder="Bob" class="form-control" id="firstname">
                  </div>
                </div>
                <div class="col-xs-6">
                  <div class="form-group">
                    <label for="lastname">Nom</label>
                    <input type="text" placeholder="L'eponge" class="form-control" id="lastname">
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" placeholder="bob@gmail.com" id="email">
              </div>

              <input type="submit" value="Order" class="btn btn-primary">
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
            <button type="button" class="btn btn-primary">Sauvegarder</button>
          </div>
        </div>
      </div>
    </div>
