<div class="wrapper">
  <div class="container-contact bg-blue">
    <div class="row">
      <div class="col xs-10 xs-2-offset">
        <div class="address text-center">
          <h2>Où nous trouver et nous contacter ?</h2>
          <div class="contact">
            <div class="col-xs-12 col-sm-4 col-md-4">
              <h3> Où sommes-nous ? </h3>
              <h4><i class="fa fa-location-arrow" aria-hidden="true"></i> 22 rue Victor Hugo</h4>
              <h4>78370 - PLAISIR</h4>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
              <h3> Nous joindre </h3>
              <h4><i class="fa fa-phone" aria-hidden="true"></i> +33 6 34 56 75 76</h4>
              <h4><i class="fa fa-envelope" aria-hidden="true"></i> contact@nomadhome.fr</h4>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
              <h3> Comment y aller ? </h3>
              <h4><i class="fa fa-train" aria-hidden="true"></i> Gare Montparnasse : Ligne N</h4>
              <h4><i class="fa fa-car" aria-hidden="true"></i> 35 minutes de voiture de Paris </h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render 'shared/map' %>
