<div class="wrapper">
  <div class="container-contact bg-blue">
    <div class="row">
      <div class="col xs-10 xs-2-offset">
        <div class="pricing text-center">
          <h2>Une expérience de travail unique</h2>
          <p>Plusieurs formules et options vous sont proposées, que vous vouliez être nomade ou résident.</p>
          
          <div class="price">
            <div class="col-xs-12 col-sm-4">
              <div class="offer bg-yellow">
                <h3>Nomade </h3>
                <h4>Sans engament</h4>
                <h4>3€/heure - 15€/jour</h4>
              </div>
              <div class="suboffer">
                <ul>
                  <li>Evènements membres </li>
                  <li>Café</li>
                  <li>Wifi</li>
                </ul>
              </div>
            </div>
            <div class="col-xs-12 col-sm-4">
              <div class="offer bg-orange">
                <h3>Bird </h3>
                <h4>Sans engament</h4>
                <h4>100€/mois</h4>
              </div>
              <div class="suboffer">
                <ul>
                  <li>Réseau Slack</li>
                  <li>Invité : 10€/jour</li>
                  <li>Imprimante</li>
                </ul>
              </div>
            </div>
            <div class="col-xs-12 col-sm-4">
              <div class="offer bg-red">
                <h3>Home </h3>
                <h4>Avec engagement</h4>
                <h4>300€/mois</h4>
              </div>
              <div class="suboffer">
                <ul>
                  <li>Bureau dédié</li>
                  <li>Casier</li>
                  <li>Salle de réunion</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://static.pexels.com/photos/7097/people-coffee-tea-meeting.jpg');"></div>

<script>
    window.sr = new ScrollReveal()
		sr.reveal('.offer', { origin: 'top', distance: '30px', duration: 3000, })
    sr.reveal('.suboffer', { origin: 'bottom', distance: '30px', duration: 3000, })
</script>
